<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:title" content="WebMark Walkthrough" />
		<meta property="og:image" content="{{ url_for('static', filename='media/metalogo.png') }}" />

		<link rel="stylesheet" href="{{ url_for('static', filename='css/walkthrough.css') }}"></link>
		<link href="//fonts.googleapis.com/css2?family=Nunito+Sans" rel="stylesheet"  type="text/css">

		<title>WebMark Walkthrough</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

	<body>

		<div id="header">
			<img id="logo" src="{{ url_for('static', filename='media/logo.png') }}" onclick="location.href = 'walkthrough';">
		</div>
		<h1>How To Use WebMark</h1>
		<h3>Note: WebMark is optimized for desktop usage</h3>
		<div id="video_row">

			<div class = "item">
				<video id="one"  controls>
					<source src="{{ url_for('static', filename='media/walkthrough1.mov') }}" type="video/mp4">
				</video>
				<p>Add websites, videos, and pictures</p>
			</div>

			<div class = "item">
				<video id="two"  controls>
	  			<source src="{{ url_for('static', filename='media/walkthrough2.mov') }}" type="video/mp4">
	  		</video>
	  		<p>Click your WebMarks to go to the sites</p>
  		</div>

			<div class = "item">
				<video id="three"  controls>
	  			<source src="{{ url_for('static', filename='media/walkthrough3.mov') }}" type="video/mp4">
	  		</video>
	  		<p>Delete Webmarks</p>
  		</div>

		</div>

		<div id="continue">
			<button id="continue_button" type="button"  onclick="location.href = 'webmarks';">Continue</button>
		</div>

	</body>
</html>
