<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="WebMark" />
    <meta property="og:image" content="{{ url_for('static', filename='media/metalogo.png') }}" />

    <link rel="shortcut icon" href="{{ url_for('static', filename='media/bookmark.png') }}" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/webmark.css') }}"></link>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans" rel="stylesheet"  type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>WebMark</title>

  <body>

    <div id="header">
      <img id="logo" src="{{ url_for('static', filename='media/logo.png') }}" onclick="location.href = 'walkthrough';">
      <button id="signin_button" type="button" onclick="signin()">Sign In</button>
    </div>

    <div id="searchfilter">
      <input id="enter_link" type="url" placeholder="Upload Link Here">
    </div>

  </body>

  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-firestore.js"></script>
  <script src="{{ url_for('static', filename='config/config.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/webmark.js') }}"></script>

</html>
