* {
  font-family: "Nunito Sans";
}
body {
  background-color: #ECECE2;
}

#header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}
#logo{
	margin-left: 15px;
}
#signin{
	width: 163px;
	height: 50px;
	color: black;
	font-size: 24px;
	background-color: #FF8E2D;
	border-radius: 8px;
	border-color: black;
	margin-right: 15px;
}

#midsection{
	margin: 100px 4.5% 0px 4.5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#leftmid{
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

#welcome{
	font-size: 72px;
}

#rightmid{
	flex-direction: column;
	width: 50%;
	/*padding: 50px 100px 75px 100px;*/
	border: 1px solid gray;
	margin: 0 auto;
}

#signupform{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*border: 1px solid red;*/
	padding: 60px;
	margin: 0 auto;
}

input{
	height:40px;
	font-size: 18px;
	border-radius: 8px;
	border-color: #4E5166;
}

#email{
	width:400px;
	align-self: center;
}

#username{
	width:400px;
	align-self: center;
}

#passwordrow{
	display: flex;
	width:400px;
	flex-direction: row;
	align-self: center;
}

#password{
	display: flex;
	width:400px;
	width: 50%;
	align-self: center;
}

#confirmpassword{
	display: flex;
	width: 50%;
	align-self: center;
}

#or{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding:0px;
	color: #4E5166;
}

#signing{
	display: flex;
	justify-content: space-between;
	padding: 0px 12%;
}

#signup{
	width: 130.6px;
	height: 40px;
	color: black;
	font-size: 18px;
	background-color: #FF8E2D;
	border-radius: 8px;
	border-color: black;
	align-self: center;

}

#signin{
	width: 130.6px;
	height: 40px;
	color: black;
	font-size: 18px;
	background-color: #FF8E2D;
	border-radius: 8px;
	border-color: black;
	align-self: flex-end;
}

*, *:before, *:after {
  box-sizing: border-box;
}
.g-sign-in-button {
  margin: 10px;
  display: inline-block;
  width: 240px;
  height: 50px;
  background-color: #4285f4;
  color: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  transition: background-color .218s, border-color .218s, box-shadow .218s;
}
.g-sign-in-button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}
.g-sign-in-button:active {
  background-color: #3367D6;
  transition: background-color 0.2s;
}
.g-sign-in-button .content-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
}
.g-sign-in-button img {
    width: 18px;
    height: 18px;
}
.g-sign-in-button .logo-wrapper {
   padding: 15px;
   background:#fff;
   width: 48px;
   height: 100%;
   border-radius: 1px; 
   display: inline-block;
}
.g-sign-in-button .text-container {
    font-family: Roboto,arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 16px;
    line-height: 48px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
}
