* {
  font-family: "Nunito Sans";
}

body {
  background-color: #ECECE2;
}

#logo {
	width: 200px;
	margin-left: 15px;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

@media only screen and (max-width: 500px) {
	#logo{
		width: 140px;
		height: 30px;
		margin-left: 15px;
	}
}

#video_row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}

.item {
	display: flex;
	margin: 25px auto 0px auto;
	flex-direction: column;
	align-content: center;
	width: 400px;
}

.item img {
	display:block;
	max-width: 100%;
	object-position: 0 0;
	border: 1px solid #FF8E2D;
}

.item video {
	display:block;
	min-width: 100%;
  min-height: 100%;
  border: 1px solid #FF8E2D;
  width:300px;
}

.item p {
	font-size: 20px;
}

@media only screen and (max-width: 1400px) {
	.item {
		width: 400px;
	}
}

@media only screen and (max-width: 1050px) {
	#video_row {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.item {
		width: 100%;
		align-self: center;
	}

	.item video {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	#video_row {
		margin-top: 50px;
	}
}

#continue {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#continue_button {
	width: 130.6px;
	height: 40px;
	color: black;
	font-size: 18px;
	background-color: #FF8E2D;
	border-radius: 8px;
	border-color: black;
	cursor: pointer;
	justify-content: center;
	text-align: center;
	border: 2px solid black
}
