* {
  font-family: "Nunito Sans";
}
body {
  background-color: #ECECE2;
}

#header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

#logo{
	margin-left: 15px;
}

#searchfilter{
	margin: 75px auto 0px auto;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	padding: 0px 7.5%;
	white-space: nowrap;
}

#link{
	margin: 0 auto;
	width: 75%;
	background-color: #ECECE2;
	border-style: none none solid none;
	font-size: 33px;
	color: black;
	border-color: black;
	font-weight: bold;
}

::placeholder{
  color:  #FF8E2D;
  font-weight: bold;
}

#link:hover{
	cursor: pointer;
}

#link:focus{
	outline: none;
	border-color: #FF8E2D;
}

input:focus::placeholder{
	opacity: 0;
}

#filter{
	margin: 0 auto;
	border-color: #FF8E2D;
	border-style: solid;
	background-color: #ECECE2;
	border-radius: 8px;
	width:20%;
	font-size: 20px;
	margin-left: 50px;
}

#filter:hover{
	cursor: pointer;
}

#filter:focus{
	border-color: red;
	outline: none;
}

#WebMarks{
	display: flex;
	margin: 50px auto;
	flex-direction: column;
	align-content: center;
	width: 85%;

}

#firstrow{
	display: flex;
	margin-bottom: 50px;
	height: 400px;
}

#one{
	display: flex;
	border: 2px solid gray;
	width: 65%;
	margin-right: 50px;
}

#one iframe{
	width: 100%;
}

#twothree{
	display: flex;
	flex-direction: column;
	width: 35%;
}

#two{
	display: flex;
	margin-bottom:50px;
	height: 45%;
}

#two iframe{
	width: 100%;
}

#three{
	display: flex;
	height: 45%;
}

#three iframe{
	width: 100%;
}

#secondrow{
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
	width: 100%;
}

#four {
	display: flex;
	margin-bottom:50px;
	width: 50%;
	margin-right: 50px;
}

#four iframe{
	width: 100%;
}


#five {
	display: flex;
	margin-bottom:50px;
	width: 50%;
}

#five iframe{
	width: 100%;
}






